{% extends 'base.html' %}
{% block content %}
<hr class="invisible">

    {% if form %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
<form method="POST" action="">
        {{ form.hidden_tag() }}
            <div class="form-group">
                {% if form.search_key.errors %}
                {{ form.search_key(class="form-control") }}
                <div class="invalid-feedback">
                    {% for error in form.search_key.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.search_key(class="form-control") }}
                {% endif %}
            </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-secondary") }}
         </div>
 </form>
    {% endif %}
    </div>
    </div>
<hr class="invisible">
{% if tracks %}
<h1>search results</h1>
<hr class="invisible">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">title</th>  
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
    {% for track in tracks %}
    <tr>
        <td>{{ track.title }}</td>
        <td>
        {% if not track.is_indexed() %}
            <a class="text-info" href="{{ url_for('track_add', id=track.id) }}">add</a>
        {% elif track.is_indexed() and not track.is_cached() %}
            <a class="text-info" href="{{ url_for('track_cache', id=track.id) }}">cache</a>
        {% else %}
            <a href="{{ url_for('track_play', id=track.id) }}">play</a>
        {% endif %} 
        </td>
    </tr> 
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock content %}
