{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
    {% if form %}
<form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {% if form.search_key.errors %}
                {{ form.search_key(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.search_key(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
     </div>
 </form>
    {% endif %}
</div>
{% if tracks %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">title</th>  
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
    {% for track in tracks %}
    <tr>
        <td>{{ track.title }}</td>
        {% if not track.is_cached() %}
        <td><a class="text-info" href="{{ url_for('track_add', id=track.id) }}">add track</a></td> 
        <!--  -->
        <!-- <td><a class="text-danger" href="{{ url_for('track_delete', id=track.id) }}">delete</a></td> -->
        {% endif %}
    </tr> 
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock content %}
