{% extends 'base.html' %}
{% block content %}
<hr class="invisible">
<h1>indexed tracks</h1>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">title</th>  
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
    {% for track in tracks %}
    <tr>
        <td>{{ track.title }}</td>
        <td>
        {% if track.is_cached() %}
            <a href="{{ url_for('track_play', id=track.id) }}">play</a>
        {% else %}
            <a class="text-warning" href="{{ url_for('track_cache', id=track.id) }}">download</a> 
        {% endif %}
        </td>
    </tr> 
    {% endfor %}
    </tbody>
<hr class="invisible">
</table>

{% endblock content %}
