{% extends 'base.html' %}
{% block content %}
<hr class="invisible">
<h1>options</h1>
<div class="row">
    <div class="col">
                    <form action="{{ url_for('track_cache', id='all') }}" method="POST">
                        <button type="submit" class="btn btn-warning btn-sm">
                            cache all
                        </button>
                    </form> 
    </div>
</div>
<div class="row">
    <div class="col mt-1">
                    <form action="{{ url_for('track_add', id='all') }}" method="POST">
                        <button type="submit" class="btn btn-warning btn-sm">
                            rebuild index
                        </button>
                    </form>
    </div>
</div>
{% endblock content %}
