{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/APlayer.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/APlayer.min.js') }}"></script>
{% endblock extra_head %}

{% block content %}

<hr class="invisible">
<h1>now playing - {{ playlist.title }}</h1>
<hr class="invisible">
<div id="player">
</div>


<script>
    const ap = new APlayer({
        container: document.getElementById('player'),
        autoplay: true,
        audio: [
            {% for track in playlist.tracks %}
            {% if track.is_cached() %}
            {
                name: "{{ track.title }}",
                artist: " ",
                url: "{{ url_for('static', filename='track_cache/'+track.id+'.mp3') }}",
                cover: "",
            },
            {% endif %}
            {% endfor %}
        ]
    })
</script>

{% endblock content%}
