{% extends 'base.html' %}

{% block content %}

<hr class="invisible">
<h1>playlists</h1>
<div class="row">
    <div class="col">
        <a class="btn btn-primary btn-sm" href={{ url_for('playlist_new') }}>new playlist</a>
    </div>
</div>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">title</th>  
            <th scope="col">action</th>
        </tr>
    </thead>
    <tbody>
    {% for playlist in playlists %}
    <tr>
        <td>{{ playlist.title }}</td>
        <td>
        <div class="row justify-content-start">
            <div class="col-auto">
                <a class="btn btn-info btn-sm" href="{{ url_for('playlist_play', id=playlist.id) }}" target="_blank">play</a>
            </div>
        <div class="col-auto">
            <a class="btn btn-secondary btn-sm" href={{ url_for('playlist', id=playlist.id) }}>view</a>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal" data-playlist-title="{{ playlist.title }}" data-playlist-url="{{ url_for('playlist_delete', id=playlist.id) }}">
            delete
        </button>
                </div>
        </div>
        </td>
    </tr> 
    {% endfor %}
    </tbody>
<hr class="invisible">
</table>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">confirm delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">close</button>
                        <form id="delete-url" action="" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">confirm</button>
                        </form>
                      </div>
                    </div>
                  </div>

{% endblock %}

{% block scripts %}
    <script>
        $('#exampleModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            var title = button.data('playlist-title');
            var url = button.data('playlist-url');
            var modal = $(this);
            modal.find('.modal-body').text('really want to delete ' + title + '?');
            modal.find('#delete-url').attr('action', url);
        })
    </script>
{% endblock %}
