{% extends 'base.html' %}
{% block content %}
<hr class="invisible">
<h1>new playlist</h1>
<hr class="invisible">

    {% if form %}
    <div class="row">
        <div class="col-md-6">
<form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {% if form.title.errors %}
                    {{ form.title(class="form-control") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
            {{ form.submit(class="btn btn-secondary btn-sm") }}
            </div>
 </form>
    {% endif %}
    </div>
    </div>
{% endblock content %}
